# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.obj
*.tlog
*.idb
*.ilk
Chapter 6 Drawing in Direct3D/Box/.vs/Box/v16/.suo
Chapter 6 Drawing in Direct3D/Box/.vs/Box/v16/Browse.VC.db
Chapter 6 Drawing in Direct3D/Box/.vs/Box/v16/ipch/AutoPCH/70fcd4a71cbd2232/D3DAPP.ipch
Chapter 6 Drawing in Direct3D/Box/Box.vcxproj
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.exe
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.log
Chapter 6 Drawing in Direct3D/Box/x64/Debug/Box.pdb
Chapter 6 Drawing in Direct3D/Box/x64/Debug/vc142.pdb
*.vcxproj
Chapter 6 Drawing in Direct3D/Box/Box.vcxproj
